:root {
    --phi: 1.618033988749894848204586834;
    --base-width: 400px;
    --base-height: calc(var(--phi) * var(--base-width));
    --background-color: #80B84F;
    --border-color: #0a0a0a;
    --section-border: 2px solid black;
    --border-width: calc(var(--base-width) * .001);
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

h2 {
    font-size: calc(var(--base-width) * .07);
}

h3 {
    font-size: calc(var(--base-width)  * .047);
}

h4, p {
    font-size: calc(var(--base-width)  * .041);
    font-weight: 100;
}

.button {
    padding: 6px;
    border: 2px solid grey;
    border-radius: 3px;
}

.app-wrapper {
    min-height: 100vh;
    padding: 20px;
    padding-left: 40px;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(to top, white, var(--background-color));
}

.app-title {
    margin-bottom: 50px;
}

.form-container, .book-container {
    display: inline-block;
    vertical-align: top;
}

.book-details-form {
    width: max-content;
    margin-right: 50px;
    padding: 0 20px 20px 20px;
    border: solid 1px ivory;
    border-radius: 3px;
    background-color: rgba(256, 256, 256, .5);
}

.book-details-form section {
    margin-top: 20px;
    text-align: right;
    font-family: 'Merriweather', serif;
    font-size: 16px;
}

.book-details-form section div {
    margin-top: 5px;
}

.book-details-form .button-container {
    margin-top: 40px;
}

.book-details-form .radio-fieldset {
    border: none;
    text-align: left;
}

.generated-book {
    width: calc(var(--base-width) + 10px);
    padding: 5px;
    background-color: var(--background-color);
    box-shadow: 10px 10px 15px grey;
    border-radius: 3px;

    display: grid;
    grid-template-columns:  [logo-col-start] calc(.1 * var(--base-width))
                            [logo-col-end spacer-start] calc(.18  * var(--base-width))
                            [spacer-end text-start] calc(.55 * var(--base-width))
                            [price-start] calc(.17 * var(--base-width));
    grid-template-rows: [publisher-info-start] calc(.1 * var(--base-height))
                        [publisher-info-end title-start] calc(.12  * var(--base-height))
                        [title-end author-start] calc(.06 * var(--base-height))
                        [author-end artwork-start] calc(.73 * var(--base-height));
}

.generated-book section {
    border-bottom: var(--border-width) solid black;
    overflow: hidden;
}

.publisher-logo-container {
    grid-column: logo-col-start;
    grid-row: publisher-info-start;

    padding: 5px;
}

.publisher-logo-container .publisher-logo {
    height: 100%;
    width: 100%;

    background-image: url("img/penguin-logo.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.series-title {
    grid-column: text-start / price-start;
    grid-row: publisher-info-start;

    padding-top: calc(var(--base-width) * .055);
    padding-bottom: calc(var(--base-width) * .055);
}

.book-price {
    grid-column: price-start;
    grid-row: publisher-info-start;

    padding-top: calc(var(--base-width) * .055);
    padding-bottom: calc(var(--base-width) * .055);
}

.pre-title {
    grid-column: logo-col-start / span 2;
    grid-row: title-start;
}

.book-title {
    grid-column: text-start / span 2;
    grid-row: title-start;

    padding-top: calc(var(--base-width) * .019);
    padding-bottom: calc(var(--base-width) * .019);
}

.pre-author {
    grid-column: logo-col-start / span 2;
    grid-row: author-start;
}

.author-name {
    grid-column: text-start / span 2;
    grid-row: author-start;

    padding-top: calc(var(--base-width) * .02);
    padding-bottom: calc(var(--base-width) * .02);
    color: ivory;
}

section.cover-art {
    grid-column: logo-col-start / span 4;
    grid-row: artwork-start;

    padding: calc(var(--base-width) * .02);
    border-bottom: none;
}

.cover-art div {
    height: 100%;
    width: 100%;
    background-image: url("img/lineDrawing1.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}
